.ingredients {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ingredients ul {
  list-style-type: none;
  padding: .5rem 2em;
}

.ingredients ul > li::before {
  content: url('../../icons/bullet.svg');
  color: var(--text-color-secondary);
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 22px;
  margin-left: -16px;
  top: 2px;
  position: relative;
}