/* stylelint-disable max-line-length */
@font-face {
  font-family: epilogue;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: epilogue-bold;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: epilogue;
  font-display: swap;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/Epilogue-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: pacifico;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: boldonse;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Boldonse-Regular.ttf') format('truetype');
}