/* stylelint-disable max-line-length, at-rule-empty-line-before */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');
@font-face {
  font-family: epilogue;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: epilogue-bold;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/Epilogue-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: epilogue;
  font-display: swap;
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/Epilogue-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: pacifico;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: boldonse;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Boldonse-Regular.ttf') format('truetype');
}